<header>
  <nav class="container p-4">
    <div class="d-flex justify-content-between">
      <a href="/" class="text-decoration-none">{{ websiteTitle }}</a>
      <div class="navLinks">
        <a href="/" class="text-decoration-none me-2">Weather</a>
        <a href="/about" class="text-decoration-none me-2">About</a>
        <a href="/help" class="text-decoration-none me-2">Help</a>
      </div>
    </div>
  </nav>
</header>